/* Body */
body {
    margin: 0px;
    font-family: sans-serif;
}

/* Nav Bar Styles */
.nav-bar-wrapper {
    padding: 0px;
    background-color: black;
    color: white;
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 20px;
}

/* Left Column Styles */
.nav-bar-wrapper > .nav-left-column > .logo img {
    height: 70px;
    margin: 30px 15px;
}

/* Center Column Styles */
.nav-bar-wrapper > .nav-center-column {
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-weight: 900;
}

.nav-bar-wrapper > .nav-center-column > .nav-explore {
    color: rgb(252, 244, 132);
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-bottom: -10px;
    margin-top: 10px;
    font-size: 1.4em;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
}

.nav-bar-wrapper > .nav-center-column > .nav-links-wrapper {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.nav-bar-wrapper > .nav-center-column > .nav-links-wrapper a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.nav-bar-wrapper > .nav-center-column > .nav-links-wrapper > .nav-spark-dropdown > .nav-spark-link{
    width: 125px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-weight: 1;
    padding-top: 5px;
    padding-left: -20px;
    color: #86888D;
    font-size: 1.8rem;
}

/* Right Column Styles */
.nav-bar-wrapper > .nav-right-column {
    display: flex;
    justify-content: space-between;
}

.nav-bar-wrapper > .nav-right-column button {
    font-size: 2em;
    border: 1px solid #36383F;
    border-radius: 3px;
    background-color: #36383F;
    color: #f8f8f8;
    height: 80px;
    padding: 1px 20px;
    margin-top: 20px;
}

.nav-bar-wrapper > .nav-right-column button:active {
    box-shadow: 5px 5px 30px rgba(148, 148, 148, 0.4);
}

.nav-bar-wrapper > .nav-right-column > .nav-create-dropdown > .nav-create-dropdown-down-chevron {
    color: #4ACB77;
}

.nav-bar-wrapper > .nav-right-column > .nav-search {
    font-size: 4em;
    margin-top: 20px;
    color: #7B7E8B;
}

/* Content Styles */
.page-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-image: linear-gradient(150deg, #40434D, #1A1C20);
    color: #F8F8F8;
}

/* Left Column Styles */
.page-container > .page-left-column > .paragraphs > .top-paragraph p {
    margin-top: 0px;
    padding-top: 100px;
}

.page-container > .page-left-column > .paragraphs > .top-paragraph p span {
    font-weight: 1000;
}

.page-container > .page-left-column > .paragraphs > .bottom-paragraph p {
    font-size: 2.5rem;
    color: #86888D;
}

.page-container > .page-left-column > .paragraphs {
    font-size: 3em;
    padding: 50px;
    font-family: 'Quicksand', sans-serif;
}

.page-container > .page-left-column > .buttons {
    padding-left: 50px;
}

.page-container > .page-left-column > .buttons button {
    font-size: 3em;
    padding: 20px;
    border-radius: 5px;
}

.page-container > .page-left-column > .buttons > .sign-up {
    border: 1px solid #4BCE79;
    background-color: #4BCE79;
    margin-right: 10px;
}

.page-container > .page-left-column > .buttons > .learn-more {
    border: 1px solid #111111;
    background-color: #111111;
    color: #FFFFFE;
}
/* Right Column Styles */
.page-container > .page-right-column > .image-header {
    padding-top: 100px;
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: 2em;
}

.page-container > .page-right-column > .image-header a {
    text-decoration: none;
    color: #61CDF5;
}

.page-container > .page-right-column > .content-image img {
    width: 700px;
    margin-left: 30px;
}

/* Footer Styles */
.footer {
    display: flex;
    justify-content: center;
}

.footer div {
    background-color: #36383F;
    border: 1px solid #676767;
    color: white;
    font-size: 2em;
    padding: 15px 67.2px;
}

.footer div > .footer-large-text {
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
}
